@page
@model GroceryList.Pages.Groceries.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Grocery</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="Grocery.Name" class="control-label"></label>
                <input asp-for="Grocery.Name" class="form-control" />
                <span asp-validation-for="Grocery.Name" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <label asp-for="Grocery.Quantity" class="control-label"></label>
                <input asp-for="Grocery.Quantity" class="form-control" />
                <span asp-validation-for="Grocery.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group mb-3">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="../Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
